<h1>All Sources in database</h1>

<p><%= link_to('Add Source', new_source_path) %></p>

<table class="table table-hover tablesorter tablesorter-bootstrap" id="allArticles">
  <thead>
  <tr>
    <td>Source</td>
    <td>Edit</td>
    <td>All Articles</td>
  </tr>
  </thead>
  <tbody>
  <% @sources.each do |s| %>
    <tr>
      <td><%= s.name %></td>
      <td><%= link_to('Edit Source Info', edit_source_path(s.id)) %></td>
      <td><%= link_to('all articles', source_path(s.id)) %></td>
    </tr>
  <% end %>
</tbody>