<h2>Autopopulate</h2>

<p>Autopopulate currently supports:</p>
<ul>
  <li>DailyMTG articles</li>
  <li>The Guardian</li>
</ul>
<p>You can pass in other urls, but it might get the details wrong!</p>
<p>Pass in just the urls of the articles, separated by a comma.</p>

<div class="row">
  <div class="col-md-8">
<%= simple_form_for @article, :url => articles_supercreate_path, :method => :post, defaults: { input_html: { class: 'form-control' } }, input_html: { class: 'form-inline' }  do |f| %>
  <%= f.input :url, as: :text %>
  <%= f.association :books, :as => :check_boxes, collection: @current_user.books.order(:name), prompt: "Add immediately to book", :include_blank => true, :required => false, input_html: { class: '' } %>
  <%= f.submit 'Add All Articles', :class => 'btn btn-default' %>
<% end %>
</div>
</div>