<h2>Autopopulate</h2>

<p>Autopopulate currently supports:</p>
<ul>
  <li>DailyMTG articles</li>
</ul>
<p>You can pass in other urls, but it might get the details wrong!</p>

<%= simple_form_for @article, :url => articles_supercreate_path, :method => :post  do |f| %>
  <%= f.input :url, as: :text %>
  <%= f.submit 'Add All Articles' %>
<% end %>