<!-- This partial is what should be used whenever we want to show a completed book's contents -->

<h2>Index</h2>
  <% if @book.chapters.any? %>
    <div class="list-group">
      <% @book.chapters.each do |c| %>
        <div class="list-group-item list-group-item-info">
          <div class="row">
            <div class="col-md-8">
              <%= link_to(c.name, book_chapter_path(@book.id, c.id)) %>
            </div>
            <div class="col-md-4">
              <%= link_to( 'Delete Chapter' , book_chapter_path(@book, c), :method => :delete, :class => 'btn btn-danger' , :data => { :confirm => "Delete Chapter?"} ) %>
            </div>
          </div>
        </div>
        <% if c.articles.any? %>
        <div class="list-group">
          <% c.articles.each do |a| %>
            <div class="list-group-item">
              <div class="row">
                <div class="col-md-9">
                  <%= link_to(a.heading, a.url) %>
                </div>
                <div class="col-md-3">
                  <%= link_to('Remove', "/books/#{@book.id}/#{c.id}/#{a.id}", :method => :post, :class => 'btn btn-default' )  %>
                </div>
              </div>
          </div>
          <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>