<%= simple_form_for @book do |f| %>
  <p>
    <%= f.input :name %>
  </p>
  <p>Articles:</p>
    <%= f.collection_check_boxes :article_ids, Article.all, :id, :heading %>
  <p><%= f.submit %></p>
<% end %>