<h1>Edit Book Contents</h1>

<%= render :partial => 'form' %>

<h2>OR edit the articles in the book</h2>

<%= simple_form_for @book do |f| %>
  <p>Articles:</p>
    <%= f.collection_check_boxes :article_ids, Article.all, :id, :heading %>
  <%= f.submit %>
  <% end %>