<h1>All Books</h1>
<div class="row">
  <div class="col-md-8">
    <table class="table table-hover">
      <tr>
        <td>Book</td>
        <td>Subheading</td>
        <td>Articles</td>
      </tr>
    <% @books.each do |b| %>
      <tr>
        <td><%= link_to(b.name, book_path(b.id)) %></td>
        <td><small><%= b.subheading %></small></td>
        <td><%= pluralize( b.articles.length, 'article' ) %></td>
        <% if b.user === @current_user %>
        <td><%= link_to('Edit', edit_book_path(b.id) ) %></td>
        <% end %>
      </tr>
    <% end %>

    </table>
  </div>
</div>
