<h1><%= @book.name %></h1>

  <% if @book.articles.any? %>
    <ul>
    <% @book.articles.each do |a| %>
      <li><%= link_to(a.heading, a.url) %></li>
    <% end %>
    </ul>
  <% else %>
    <p>No Articles in this book yet.</p>
  <% end %>

<% if @current_user.present? && (@book.user === @current_user) %>
  <%= link_to('Edit Book', edit_book_path) %>
  <%= button_to 'Delete Book' ,@book, :method => :delete, :data => { :confirm => "Burn the book?"} %>
<% elsif @current_user.present? %>
  <p>Some stuff about adding book to your bookshelf</p>
<% else %>
  <p>Not logged in whatever features</p>
<% end %>
