* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

nav {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: black;
  color: white;
  padding: 1em;
  border: 0;

}

nav a {
  text-decoration: none;
  color: white;
  padding: 1em;
  border: 0;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background-color: black;
  color: white;

}

h1 {
  text-align: center;
}

.content {
  max-width: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 2rem;
}

.container {
  height: 100%;
}

#new_article label {
  width: 75px;
}

.field_with_errors input {
  border-color: red;
}